# macOS
.DS_Store

# Build artifacts / binaries
main
*.out
*.exe
*.csv

# Debug symbols (macOS / LLDB)
*.dSYM/
*.dSYM/**

# Temporary / tutorial files
tut
tut.cpp

# Editors
.vscode/

#.csv
src/tips.csv